<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Businesses</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/businesses/new">Add a Business</a></li>
            </ul>
        </nav>
        <nav>
            <a href="/users">Home</a>
            <a href="/forum">Community Forum</a>
            <a href="/calculator">Carbon Footprint Calculator</a>
            <a href="/marketplace">Marketplace</a>
            <a href="/projects">Projects</a>
            <a href="/tipsguides">Tips & Guides</a>
        
        </nav>


       
    </header>

    <p>Klimate</p>
    <main>
        {{{body}}}
    </main>
    <footer> </footer>



</body>

</html>