<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Klimate</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>

    <header>
        <nav>
            <a href="/">About</a>
            <a href="/login">User Login</a>
            <a href="/forum">Community Forum</a>
            <a href="/calculator">Carbon Footprint Calculator</a>
            <a href="/marketplace">Marketplace</a>
            <a href="/projects">Projects</a>
            <a href="/tipsguides">Tips & Guides</a>

        </nav>


        <p>Klimate</p>

    </header>
    <p>Take meaningful action against Climate Change</p>

    <nav>
        <ul>
            <li><a href="/businesses/new">Add a Business</a></li>
        </ul>
    </nav>
    <nav>
            <ul>
                <li><a href="/posts/new">Add a Post</a></li>
            </ul>
        </nav>

        <main>
            {{{body}}}
        </main>




</body>

</html>