
<body>
    <header>
        <div class="container">
            <h1>Community Forum</h1>
        </div>
    </header>
    <div class="container">
        <button class="button" onclick="location.href='/new-thread'">Start a New Discussion</button>
        <ul>
            {{#each threads}}
            <li>
                <h2>{{this.title}}</h2>
                <p>{{this.summary}}</p>
                <a href="/thread/{{this.id}}" class="button">Read More</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <footer>
        <div class="container">
            <p>Contact Us: info@klimate.com | Follow us on social media</p>
        </div>
    </footer>
</body>
