
<body>
    <header>
        <h1>User Profile</h1>


         <p>Explore and review sustainable businesses in your area</p>
        <a href="/businesses" class="btn">Explore Businesses</a>
       
       
    </header>
    <section class="user-profile">
       
    </section>

    <p><a href="/">Logout</a></p>
</body>
