<section>
    <h1>Sustainable Businesses</h1>
    {{#each businesses}}
    <article class="business">
        <h2><a href="/businesses/{{_id}}">{{businessName}}</a></h2>
        <p>{{body}}</p>
    </article>
    {{/each}}
</section>